.auth {
    &__content {
        max-width: 480px;
        text-align: center;
        margin-top: 80px;
    }

    &__title {
        margin-bottom: 24px;
    }

    &__button {
        max-width: 240px;
        width: 100%;
        margin-bottom: 16px;
    }
}