<div class="auth">
    <div class="auth__content container">
        <h1 class="auth__title">Sign in</h1>
        <button (click)="signInAnonymously()" class="auth__button button" type="button">
            Anonymously
        </button>
        <!-- TODO: Optional :) -->
        <!--<button class="auth__button button" type="button">-->
            <!--Facebook-->
        <!--</button>-->
        <!--<button class="auth__button button" type="button">-->
            <!--Google-->
        <!--</button>-->
    </div>
</div>