$dark-primary-color: #512DA8;
$light-primary-color: #D1C4E9;
$primary-color: #673AB7;

// background / text / icons
$secondary-color: #FFFFFF;

$accent-color: #00BCD4;

$primary-text: #212121;
$secondary-text: #757575;

$divider-color: #BDBDBD;