$dark-primary-color: #FBC02D;
$light-primary-color: #FFF9C4;
$primary-color: #FFEB3B;

// background / text / icons
$secondary-color: #FFFFFF;

$accent-color: #00BCD4;

$primary-text: #212121;
$secondary-text: #757575;

$divider-color: #BDBDBD;