@import 'variables';
@import 'elements';
@import 'media-queries';

.todo-item {
    display: flex;
    padding: 16px 0;
    border-top: 1px solid $divider-color;
    border-bottom: 1px solid $divider-color;

    &__col {
        display: flex;
        align-items: center;

        &:nth-child(2) {
            flex: 1;
            overflow: hidden;
        }
    }

    &__button {
        @include circButton(40px);

        background-color: $light-primary-color;
        margin-left: 6px;

        &:hover,
        &.active {
            background-color: $primary-color;
            color: $secondary-color;
        }

        &:first-child {
            margin-left: 0;
        }
    }

    &__description {
        font-size: 24px;
        padding-left: 24px;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        input[type=text] {
            border: none;
            padding: 0;
            outline: none;
        }
        
        &.completed {
            text-decoration: line-through;
        }
    }
}

@include mediumDevice() {
    .todo-item {
        padding: 16px 0;

        &__button {
            @include circButton(30px);
            font-size: 12px;
            margin-left: 6px;
        }

        &__description {
            font-size: 18px;
            padding-left: 16px;
        }
    }
}